/* estilos para la estrucutra de la pagina*/
body{
    background-color: #F4F4F4;
    font-family: arial;
    margin: 0px;
}

.menu{
    width: 100%;
    background-color: #7253ED;
    color: white;
    height: 50px;
    text-align: center;
    display: table;
}

.menu-title{
    display: table-cell;
    vertical-align: middle;
    font-size: 23px;
    font-weight: bold;
}

.container{
    width: 100%;
    /* 
        Esta es uan funcion que permite hacer operaciones basicas
        En este caso resta 50 pixeles al alto total de la patalla 
    */
    min-height: calc(100vh - 50px); 
    display: inline-block;
}

.card{
    border-radius: 10px;
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 10px;
    
}

.shadow{
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.34);
}

.card-body{
    padding-top: 20px;
    padding-bottom: 30px;
}

footer{ /* Ejemplo de estilos para etiquetas*/
    height: auto;
    background-color: #5b3bda;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: 700;
    font-size: 16px;
}

footer a{ /* Ejemplo de estilos para etiquetas dentro de otras etiquetas */
    color: #e013a3;
    text-decoration: none;
}

footer a:hover{ /* ejemplo de eventos sobre clases en css (puntero sobre el elemento)*/
    color: #f71bb5;
    text-decoration: underline;
}

.margin-top{
    margin-top: 40px;
}